<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='/'>
        Coffee at Home
      </a>
    </div>
    <div class="pull-right nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
        Brewing Variables
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/coffee/variables">Overview</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#grind">Grind</a></li>
        <li><a class="dropdown-item" href="#dose"></a>Dose</li>
        <li><a class="dropdown-item" href="#time"></a>Time</li>
        <li><a class="dropdown-item" href="#temperature"></a>Temperature</li>
        <li><a class="dropdown-item" href="#ingredients"></a>Ingredients</li>
      </ul>
    </div>
    <div class="pull-right">
      <a href='/coffee/recipes' class='btn btn-default navbar-btn'>Methods</a>
    </div>
  </div>
</nav>








<!-- <div id="var-button-container">
  <button id="grind-button">Grind</button>
  <button id="dose-button">Dose</button>
  <button id="time-button">Time</button>
  <button id="temperature-button">Temperature</button>
  <button id="ingredients-button">Ingredients</button>
</div>
<section id="method">
  <h1>what brewing method fits you?</h1>
  <div id="descriptions">
    <button id="drip-desc">Fast, minimal effort, clear cup.</button>
    <button id="fp-desc">Easily controlled, low-effort, fast, oily cup.</button>
    <button id="cold-brew">Requires medium effort once a week to brew all the coffee you'll need</button>
    <button id="pourover-desc">Requires some time, skill, and effort. Yields a cup perfect to your taste.</button>
  </div>
  <section id="recipe"></section>
</section> -->
