<nav>
  <a><h1> brew at Home?</h1></a>
  <a><h1>Overview of Brewing Variables</h1></a>
  <a><h1>Methods</h1></a>
</nav>
<!-- <div id="var-button-container">
  <button id="grind-button">Grind</button>
  <button id="dose-button">Dose</button>
  <button id="time-button">Time</button>
  <button id="temperature-button">Temperature</button>
  <button id="ingredients-button">Ingredients</button>
</div>
<section id="method">
  <h1>what brewing method fits you?</h1>
  <div id="descriptions">
    <button id="drip-desc">Fast, minimal effort, clear cup.</button>
    <button id="fp-desc">Easily controlled, low-effort, fast, oily cup.</button>
    <button id="cold-brew">Requires medium effort once a week to brew all the coffee you'll need</button>
    <button id="pourover-desc">Requires some time, skill, and effort. Yields a cup perfect to your taste.</button>
  </div>
  <section id="recipe"></section>
</section> -->
