body{
  background-color: #5d1916;
}
#menu{
  background-color: #310306;
  margin-bottom: 3em;
  
}
.card{
  background-color: #fffaff;
}
#brew-ratio-calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  padding-left: 5em;
  font-weight: bold;
}