{% extends "base.html" %}
 {% block content %}
    <section id="about"></section>
      <div class="card mb-3" style="max-width: 1500px;">
        <div class="row g-0">  
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Cost</h5>
              <h6 class="card-text">Cheaper</h6>
              <p class="card-text">
                A 12oz latte costs -on average- $4.00. &nbsp;
                However, ~$17 nets a 1 lbs bag of whole bean, speciality coffee. &nbsp;
                That comes out to ~23 cups of coffee/bag, or ~$0.75/cup. &nbsp;
                It's even cheaper when buying commercial coffee in bulk. &nbsp;
                Coffee is a commodity. &nbsp;
                It's cheap. &nbsp;
                Coffee being expensive at a cafe is a result of the accrued costs of running a business.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="{{url_for('static', filename='/IMAGES/home/coffee_spending_graph.jpg')}}" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>
      <div class="card mb-3 my-5" style="max-width: 1500px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='/IMAGES/home/seiko.jpg')}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Time</h5>
              <h6 class="card-text">Faster</h6>
              <p class="card-text">
                Its out of one's way to get coffee from a cafe.&nbsp;
                Factor in ~5 minutes in line, and ~5 minutes until one gets their drink, and they've at least 10 minutes getting coffee.
                &nbsp;
                At home one can brew coffee in less than 5 minutes, saving time and money.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 my-5" style="max-width: 1500px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Flavor</h5>
              <h6 class="card-text">Brew perfect coffee</h6>
              <p class="card-text">
              Something about the routine of brewing is satsfying and calming. &nbsp;
              But beyond that, one is able -with experience- to control variables of brewing to curtail their recipe to
              perfectly match their tastes.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="{{url_for('static', filename='/IMAGES/home/flavor-wheel.jpeg')}}" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
    </div>
    </div>
    </section>
    {% endblock %}