{% extends "base.html" %}
  {% block content %}
  <div class="card mb-3" style="max-width: 1500px;margin-top: 5em;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='/IMAGES/recipe/drip.jpeg')}}" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Drip:</h5>
          <ol class="card-text">
            <li>Grind 20g of coffee/cup of coffee brewed</li>
            <li>Make sure your water resivior is topped off</li>
            <li>Press start.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


<div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='/IMAGES/recipe/french press.jpeg')}}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">French Press:</h5>
        <ol class="card-text">
          <li>Heat around 1 quart of water to 205 degrees</li>
          <li>Grind 60g of coffee course</li>
          <li>Add ground coffee to the bottom of your french press</li>
          <li>Fill your french press quickly to saturate all your coffee, and start a timer</li>
          <li>Pop the lid back on the french press to insulate, but do not press!</li>
          <li>After 1 minute take the lid off, and push the coffee that has floated to the top back into the water</li>
          <li>Repeat at 3 minutes</li>
          <li>At 4 minutes, press and enjoy.</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='/IMAGES/recipe/coldbrew.jpeg')}}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cold Brew:</h5>
        <p class="card-text">Tools:</p>
        <ol class="card-text">
          <li>Large spoon</li>
          <li>Large pot or foodsafe bucket (~2 gallons)</li>
          <li>Kitchen sieve fine enough to catch grounds</li>
          <li>Pitcher for storage</li>
        </ol>
        <p class="card-text">Recipe:</p>
        <ol class="card-text">
          <li>Time: 12-16 hours, recommend brewing overnight</li>
          <li>Get your pound of coffee ground as course as possible where you bought it</li>
          <li>Put coffee into the brewing vessel, and combine with a gallon of water</li>
          <li>Stir, put a lid on, and let sit for 12-16 hours</li>
          <li>after 12 hours, taste once per hour until finished</li>
          <li>Record that time for repeatability</li>
          <li>Filter through sieve into a pitcher</li>
          <li>Refridgerate, and dilute with water when consuming</li>
          <li>Cold Brew is very strong, I recommend starting at 1 part Cold Brew : 2 Parts water</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='/IMAGES/recipe/Basically-Pour-Over-lede.jpeg')}}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pour Over:</h5>
        <p class="card-text">Tools:</p>
        <ol class="card-text">
          <li>Scale</li>
          <li>Gooseneck kettle</li>
          <li>Temperature control</li>
          <li>Home burr grinder</li>
          <li>Filtered funnel</li>
        </ol>
        <p class="card-text">Recipe:</p>
        <p class="card-text">
          There isn't a recipe I can recommend for a perfect pour-over coffee.
          With so many variables in equipment, you just have to taste a lot of coffee and know what to look for in your brew.
          Also the tools required for repeatable brews are more expensive than the other brew methods.
          I recommend that beginner brewers try one of the other methods, and if they fall in love with brewing their coffee, to invest in a nice pour-over set up.
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}